
.containerMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: calc(100vh - 150px);

  padding: 0 70px;

}

/* ---------- Info Produtos --------- */

.productInfo {
  width: 100%;
  padding-top: 100px;
}

.productInfo .title {
  width: 100%;
  margin-bottom: 20px;
  /*background-color: darkgoldenrod;*/
}

.productInfo .title h1 {

  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: 700;
}

.title .avaluation {
  display: flex;
  align-items: center;
}

.avaluation .stars{
  height: 20px;
}

.avaluation .stars img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


.avaluation span {
  font-size: .8vw;
  color: rgba(245, 245, 245, .3);
}

.productInfo .description {
 width: 80%;
 font-size: 1.3vw;
 margin-bottom: 20px;
 /*background-color: darkorange;*/
}

.productInfo .price {
  width: 25%;
  margin-bottom: 20px;
  /*background-color: rgb(40, 82, 53);*/
}

.productInfo .price h2 {
  font-size: 2.5vw;
  color: var(--color-highlight);
}

.productInfo .price span {
  font-size: 1.2vw;
  text-decoration: line-through;
}

.productInfo .productButtons {
  width: 50%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 3vw;
  gap: 5px;
  margin-bottom: 5px;
}

.productButtons .button {
  border: none;
  /*padding: 1vw;*/

  text-transform: uppercase;
  font-size: 1.2vw;

  background-color: var(--color-highlight);
  color: var(--color-white);

  cursor: pointer;
}

.cont {
  border: 2px solid var(--color-highlight);
  color: var(--color-highlight);
  font-size: 1.5vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont .less, .cont .plus {

  width: 100%;
  height: 100%;
  padding: 0;

  border: none;
  background-color: transparent;
  color: var(--color-highlight);
  font-size: 1.5vw;

  cursor: pointer;
}

.cont span {
  width: 100%;
  height: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist {
  width: 25%;
  min-width: 140px;
  height: 1vw; 
}

.wishlist a {
  height: 1vw;
  
  font-size: 100%;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  align-items: center;
  
}

.wishlist a img {
  height: 100%;
  object-fit: contain;
  margin: 5px;
}




/* --------- Imagens ------------*/

.containerMain .containerProductImage {
  width: 100%;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;

  margin: 0;

}

.containerProductImage .productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;

  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.containerProductImage .miniatureFigures {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

}

.miniatureFigures img {
  width: 70%;
  max-width: 80px;
  margin-bottom: 20px;

  cursor: pointer;
}

.miniatureFigures img:hover {
  border: var(--color-highlight) 2px solid;
}




