

:root {

  font-size: 10px;
  color: var(--color-white);
  font-family: sans-serif;

  --color-black: #17161b;
  --color-white: rgb(245, 245, 245) ;
  /*--color-font: #52575c; */

  --color-background: #1B1B1B;   

  --color-highlight:#CF052D;                  
}

body {
  background-color: var(--color-background);
}
